body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #222;
  padding: 1rem;

    nav {
        display: flex;
        justify-content: left;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
            margin-right: 1rem;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
            .escudo {
                max-height: 100px;
                max-width: 100px;
                margin-right: 0.5rem;
            }
        }
    }
}
